/*Globales*/

@import url('https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}
h1{
    font-size: 45px;
}
h2{
    font-size: 35px;
}
h3{
    font-size: 25px;
}
h1, h2, h3{
    text-align: center;
    text-transform: uppercase;
    color:#ffff;
    padding: 5px;
}
p{
    text-align: center;
    color: #ffff;
}

body{
font-family: 'Krub', sans-serif;
text-align: center;
background-color: black;

display: grid;
grid-template-areas:
"header header header header"
"nav nav nav nav"
"article main main aside"
"article main main aside"
"article main main aside"
"footer footer footer footer";
}
img{
    width: 200px;
    height: 200px;
    border-radius: 5px;
}
.boton{
    color:rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    background-color: aliceblue;
    border-radius: 5px;
    padding:1px 5px;
}
/*Grid Area*/
header{
grid-area: header;
}
nav{
grid-area: nav;
}
main{
grid-area: main;
}
article{
grid-area: article;
}
aside{
    grid-area: aside;
}
footer{
    grid-area: footer;
}

/*Header*/
.encabezado{
    background-image: url(../img/guitarra-encabezado.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 15px;

}

.alineacion{
    display: flex;
    align-items: end;
    justify-content: space-between;
    flex-wrap: wrap;
}

.alineacion img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/*Navegacion Principal*/
.navegacionPrincipal{
    background-color: #926f34;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.navegacionPrincipal a{
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    border: 4px solid black;
    border-radius: 13px;
    padding: 2px 5px;
    margin: 2px;
}

/*Main*/
.menu{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    justify-items: center;
    align-items: center;
}

.menuPrincipal{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 5px;
    row-gap: 5px;
}

.menuImagen{
    width: auto;
    height: auto;
}

/*article*/
.videos h2{
    text-transform: none;
}
.videos iframe{
    border-radius: 5px;
}

/*aside*/
.historia-guitarra img{
    margin: 3px 5px;

}

/*Formulario*/
.formulario {
    background-color: rgb(57, 56, 56);
    width: min( 600px, 100% );
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

.formulario fieldset {
    border: none;
}
.formulario legend {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
    color: rgb(181, 181, 30);
}

.campo {
    margin-bottom: 10px;
}
.campo label {
    color: #ffff;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}
.campo textarea {
    height: 150px;
}

.input-text {
    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 5px;
}
.w-sm-100 {
    width: 100%;
}

.flex {
    display: flex;
}
.alinear-derecha {
    justify-content: flex-end;
}

/*Footer*/
.footer{
    background-color: #926f34;
    padding: 10px;
    margin-top: 10px;
    text-align: right;
}

.iconos-footer{
    display: inline;
}

/*MOBILES*/
@media (min-width: 468px) {
    .navegacionPrincipal{
    flex-direction: row;
    position: sticky;
    top: 10px;
    }
}

/*TABLETS*/
@media (min-width: 768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto 200px ;
        column-gap: 10px;
    }
    .campo:nth-child(3),
    .campo:nth-child(4) {
        grid-column: 1 / 3;
    }
}
@media (min-width: 768px) {
    .w-sm-100 {
        width: auto;
    }
}