/*Globales*/

@import url('https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}
h1{
    font-size: 45px;
}
h2{
    font-size: 35px;
}
h3{
    font-size: 25px;
}
h1, h2, h3{
    text-align: center;
    text-transform: uppercase;
    color:#ffff;
    padding: 5px;
}
p{
    text-align: center;
    color: #ffff;
}

body{
    font-family: 'Krub', sans-serif;
    text-align: center;
    background-color: black;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "aside main main section"
    "footer footer footer footer";
}

img{
    width: 200px;
    height: 200px;
    border-radius: 5px;
}
.boton{
    color:rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    background-color: aliceblue;
    border-radius: 5px;
    padding:1px 5px;
    width: auto;
}
/*Grid Area*/
header{
grid-area: header;
}
nav{
grid-area: nav;
}
main{
grid-area: main;
}
aside{
    grid-area: aside;
}
section{
    grid-area: section;
}
footer{
    grid-area: footer;
}

/*Header*/
.encabezado{
    background-image: url(../img/guitarra-encabezado.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 15px;
}

.alineacion{
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.alineacion img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/*Navegacion Principal*/
.navegacionPrincipal{
    background-color: #c0a068;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.navegacionPrincipal a{
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: normal;
    border: 2px solid black;
    border-radius: 13px;
    padding: 2px 5px;
    margin: 5px;
    flex-direction: row;
}
.dropdown-menu{
    background-color:#c0a068;
    text-align: center;
}
.dropdown-item:hover{
    background-color:#926f34;
}
.show{
    padding-right: 10px;
}
.form-control{
    font-family: 'Krub', sans-serif;
}
.btn-outline-success{
    color: black;
    border-color: black;
}
.btn-outline-success:hover{
    background-color:#926f34;
    border-color: #ffff;
}

/*Menu-index*/
.videos h2{
    text-transform: none;
}
.videos iframe{
    border-radius: 5px;
    width: 80%;
    height: 80%;
}
.historia{
    width: auto;
    margin-top: 10px;
}
.card{
    background-color:#c0a068;
}
.card img{
    padding: 5px;
}
.card-title{
    color: black;
    font-weight: bold;
}
.card-text{
    font-family: 'Krub', sans-serif;
    color: #4a3511;
}
.btn-primary:hover{
    background-color: #c0a068;
    color:#4a3511;
    border-color: #4a3511;
}
.btn-primary{
    background-color:#926f34;
    border-color: black;
    color: black;
}

/*Menu-cuerdas*/
.instrumentosC{
    grid-template-columns: none;
}
.menuPrincipal{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 5px;
    row-gap: 5px;

}

/*menu-nosotros*/
.menu{
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    justify-items: center;
    align-items: center;
}

/*Formulario*/
.formulario {
    background-color: rgb(57, 56, 56);
    width: min( 600px, 100% );
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

.formulario fieldset {
    border: none;
}
.formulario legend {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
    color: rgb(181, 181, 30);
}

.campo {
    margin-bottom: 10px;
}
.campo label {
    color: #ffff;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}
.campo textarea {
    height: 150px;
}

.input-text {
    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 5px;
}
.w-sm-100 {
    width: 100%;
}

.flex {
    display: flex;
}
.alinear-derecha {
    justify-content: flex-end;
}

/*Footer*/
.footer{
    background-color: #926f34;
    padding: 10px;
    margin-top: 10px;
    text-align: right;
}

.iconos-footer{
    display: inline;
}

/*TABLETS*/
@media (min-width: 768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto 200px ;
        column-gap: 10px;
    }
    .campo:nth-child(3),
    .campo:nth-child(4) {
        grid-column: 1 / 3;
    }
}
@media (min-width: 768px) {
    .w-sm-100 {
        width: auto;
    }
}

/*MOBILES*/
/*body*/
@media (min-width: 320px) and (max-width: 500px){
    body{
        grid-template-columns: 1fr;
        grid-template-areas:
        "header"
        "nav"
        "main"
        "aside"
        "section"
        "footer";
    }
    .menuPrincipal{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        justify-content: center;
    }
}
/*Navegacion principal*/
@media (min-width: 480px){
    .navegacionPrincipal{
        flex-direction:row;
        justify-content: center;
    }
}
/*Menu Principal*/
@media (min-width: 480px){
    .menuPrincipal{
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
    }
}
/*Menu Nosotros*/
@media (min-width: 480px) {
    .menu{
        grid-template-columns: repeat(2, 1fr);
    }
}