@keyframes animacion{
    0%{
        width: 120px;
        height: 120px;
    }
    50%{
        width: 150px;
        height: 150px;
    }
    100%{
        width: 100px;
        height: 100px;
    }
}