/*Footer*/
.iconos{
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            height: 100px;
            width: 100px;
            border-radius: 50%;
        }
}

.footer{
    background-color: map-get($fondos, color-secundario);
    padding: 10px;
    margin-top: 10px;
    text-align: right;
}

.iconos-footer{
    display: inline;
    padding: 5px;
    margin-bottom: 10px;
}
