/*Footer*/
.iconos{
        @include flex-direccion(flex, space-between, center);
        img{
            @include imagenes-border(100px, 100px, 50%);
            margin-bottom: 10px;
            animation-name: animacion;
            animation-iteration-count: 1;
            animation-duration: 5s;
            animation-timing-function: ease-in-out;
            animation-delay: 3s;
        }
}

.footer{
    background-color: map-get($fondos, color-secundario);
    padding: 10px;
    margin-top: 10px;
    text-align: right;
}

.iconos-footer{
    display: inline;
    padding: 5px;
    margin-bottom: 10px;
    cursor: pointer;

}



