/*Header*/
.encabezado{
    background-image: url(../img/guitarra-encabezado.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 15px;
    h1{
        font-weight: bold;
    }
}

.alineacion{
    @include flex-direccion(flex, space-between, end);
    margin: 10px;
    img{
        @include imagenes(100px, 100px);
        border-radius: 50%;
    }
}
