/*Navegacion Principal*/
.navegacionPrincipal{
    background-color:map-get($fondos, color-primario);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    a{
        font-size: 25px;
        text-decoration: none;
        text-transform: uppercase;
        color: $color-principal;
        font-weight: normal;
        border-radius: 13px;
        padding: 2px 5px;
        margin: 5px;
        flex-direction: row;
    }
}

.dropdown-menu{
    background-color:map-get($fondos, color-primario);
    text-align: center;
}
.dropdown-item:hover{
    background-color:map-get($fondos, color-secundario);
}
.show{
    padding-right: 10px;
}
.form-control{
    font-family:$fuente-pricipal;
}
.btn-outline-success{
    color:map-get($fondos, color-principal);
    border-color:map-get($fondos, color-principal);
    &:hover{
        background-color:map-get($fondos, color-secundario);
        border-color:map-get($fondos, color-terceario);
    }
}
