/*Menu-cuerdas*/
.instrumentosC{
    grid-template-columns: none;
}
.instrumentosCuerdas{
    display: grid;
    justify-items: center;
}
.menuPrincipal{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
    row-gap: 10px;
}
