/*Menu-index*/
.videos h2{
    text-transform: none;
}
.videos iframe{
    border-radius: 5px;
    width: 80%;
    height: 80%;
}
.historia{
    width: auto;
    margin-top: 10px;
}
.card{
    background-color:$color-primario;
    img{
        padding: 5px;
    }
}

.card-title{
    color: $color-principal;
    font-weight: bold;
}
.card-text{
    font-family: 'Krub', sans-serif;
    color:$color-principal;
}

.btn-primary{
    background: linear-gradient(90deg, rgba(146,111,52,1) 0%, rgba(192,160,104,1) 51%, rgba(238,198,125,1) 100%);
    border-color: $color-principal;
    color:$color-principal;
    transition: width 2s;
    &:hover{
        background: linear-gradient(90deg, rgba(117,89,41,1) 0%, rgba(161,135,89,1) 51%, rgba(223,184,111,1) 100%);
        color:$color-principal;
        border-color: $color-principal;
        width: 130px;
        height: 45px;
        
    }
}
