/*menu-nosotros*/
.menu{
    @include imagenes(100%, 500px);
    @extend .display-grid;
    column-gap: 10px;
    row-gap: 15px;
    margin-top: 10px;

    img{
        margin: 10px;
        @include imagenes(300px, 300px);
    }
}
